<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="loginEmail()">
      <mat-error *ngIf="form.hasError('invalidLogin')">{{ form.errors.invalidLogin.message }}</mat-error>
      <mat-form-field>
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="email.hasError('required')">You must enter your email.</mat-error>
        <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">Invalid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Login</button>
    </form>
  </mat-card-content>
    <button mat-raised-button color="primary" (click)="loginGoogle()">Login with Google</button>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>